
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&family=Quicksand:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url("https://use.typekit.net/pjr7lsn.css");

:root {
  --turquoise: #4CD2FF;
  --dark-turq: #044762;
  --darker-turq: #041B33;

  --dark-red: rgb(158, 0, 0);
  --darker-blue: rgb(0, 40, 87);
  --dark-blue: rgb(0, 74, 158);
  --light-blue: rgb(0, 153, 255);
  --off-white: rgba(250, 250, 250, 0.979);
  --dark: rgba(0, 0, 0, 0.925);
}

* {
  font-family: interstate, sans-serif;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--dark);
}

main {
  width: 100%;
}

/** ================= NAVBAR ================= */

.navbar {
  height: 80px;
  background-color: var(--darker-turq);
  padding-top: 30px;
  position: fixed;
  width: 100%;
  z-index: 10;
  align-content: center;
  transition: height 0.1s ease-in;
}

.logo {
  font-size: 2rem;
  color: var(--off-white);
  margin-left: 5px;
}

.logo a {
  text-decoration: none;
  color: var(--off-white);
}

.navbarLinks {
  display: flex;
  float: right;
  align-content: center;
}

.navbarItem {
  margin-right: 25px;
}

.navbarLink {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--turquoise);
  text-shadow: none;
  transition: all 0.2s ease-out;
}

.navlink a:hover {
  font-size: 1.22rem;
  text-shadow: 2px 2px 2px rgb(36, 36, 36);
}

.asideBox {
  position: fixed;
  right: 10px;
  top: 10vh;
  /* width: 60px; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.asideBox .contactIcons {
  margin-top: 10px;
  height: 35px;
  color: var(--turquoise);
  z-index: 1000;
}

/** ================= SIDEBAR ================= */

.materialMenu, .materialExit {
  font-size: 3rem !important;
  color: var(--turquoise);
  border-radius: 20px;
  margin-right: 20px;
  background-color: transparent;
  transition: background-color, box-shadow 0.25s !important;
}

.materialExit {
  margin-left: 20px;
  margin-bottom: 40px;
}

.materialMenu:hover, .materialExit:hover{
  cursor: pointer;
  background-color: var(--dark-blue);
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 6px var(--dark-blue), -2px -2px 6px var(--dark-blue), 2px -2px 6px var(--dark-blue), -2px 2px 6px var(--dark-blue) !important;
}

@media screen and (max-width: 550px) {
  .sidebar {
    z-index: 11;
    position: absolute;
    align-items: start;
    transition: width 0.2s ease-in;
  }

  .stickyDiv {
    padding-top: 20px;
    background: linear-gradient(to left top, rgb(0, 44, 95), var(--dark));
    width: 100vw;
    height: 100vh;
    transition: width 0.2s ease-in;
  }
  
  .sidebarLinks {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .sidebarItem {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2px;
  }
  
  .sidebarLink {
    color: var(--off-white) !important;
    font-size: 36px !important;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.562);
    text-shadow: none;
    transition: font-size, background-color, text-shadow, 1s;
  }
  
  .sidebarLink:hover {
    font-size: 37px;
    background-color: var(--dark-blue);
    text-shadow: 2px 2px 2px rgb(36, 36, 36);
  }
}

/** ================= HOME PAGE ================= */

#home {
  background-color: var(--darker-turq);
  height: 50vh;
  display: flex;
  justify-content: center;
}

#home article {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
}

#home h2 {
  color: var(--turquoise);
  font-size: 10vw;
  text-shadow: 2px 2px 3px black;
  font-family: forma-djr-display, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#home h3 {
  margin-bottom: 5px;
  color: var(--turquoise);
  font-family: forma-djr-display, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.2vw;
  text-shadow: 2px 2px 3px black;
  font-weight: bold;
}

#preview {
  padding: 20px 10% 80px 10%;
  background: #041b33;
  background: -moz-linear-gradient(45deg,  #041b33 6%, #044762 52%, #044762 54%, #044762 63%, #041b33 100%);
  background: -webkit-linear-gradient(45deg,  #041b33 6%,#044762 52%,#044762 54%,#044762 63%,#041b33 100%);
  background: linear-gradient(45deg,  #041b33 6%,#044762 52%,#044762 54%,#044762 63%,#041b33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041b33', endColorstr='#041b33',GradientType=1 );
}

#aboutPreview {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--turquoise);
}

#aboutPreview p {
  font-size: 18px;
  margin-bottom: 15px;
}

#projectsPreview {
  margin-bottom: 20px;
  padding-bottom: 50px;
}

#recPreview {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.previewBox {
  justify-content: flex-start;
  display: flex;
}

.previewBox h2 {
  color: var(--turquoise);
  font-size: 60px;
  padding-bottom: 40px;
  padding-top: 40px;
  font-family: forma-djr-display, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.previewRec {
  justify-content: center;
}

.previewBanner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.previewBanner p {
  color: var(--off-white);
  line-height: 22px;
}

.moreAboutMe {
  text-decoration: none;
  background-color: var(--turquoise);
  font-weight: 800;
  color: black;
  height: 30px;
  /* margin-top: 10px; */
  margin-bottom: 25px;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.moreAboutMe:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px white, 2px -2px 4px white, -2px -2px 4px white, -2px 2px 4px white;
}

.lets-talk {
  background-color: var(--turquoise);
  font-weight: 800;
  height: 30px;
  padding: 10px 10px;
  /* width: 75%; */
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lets-talk:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px white, 2px -2px 4px white, -2px -2px 4px white, -2px 2px 4px white;
}

.seeMoreProjects {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 550px) {
  .seeMoreProjects {
    justify-content: right;
  }
}

.see-more-projects {
  background-color: var(--turquoise);
  color: black;
  font-weight: 800;
  height: 30px;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 10px 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.see-more-projects:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px white, 2px -2px 4px white, -2px -2px 4px white, -2px 2px 4px white;
}

@media screen and (min-width: 1115px) {
  #aboutPreview p {
    font-size: 22px;
  }
}

@media screen and (min-width: 1400px) {
  #aboutPreview p {
    font-size: 24px;
  }
}

.home-links {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  max-height: 40px;
}

.home-links a {
  color: var(--turquoise);
  font-size: 16px;
  display: flex;
  align-items: center;
  /* margin: 0px 10px; */
  text-decoration: none;
}

.home-links a span {
  padding-right: 10px;
  font-weight: 600;
}

.home-links a img {
  /* margin-top: 15px; */
}

.projectPicture {
  margin-bottom: 30px;
  width: 90%;
  margin: 5%;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about-container p {
  color: var(--off-white);
  line-height: 26px;
  padding-bottom: 10px;
}

.available-for {
  display: flex;
  justify-content: space-evenly;
}

.available-for div {
  margin: 10px 0px 25px 0px;
}

.hire {
  background-image: url('./images/available_for.PNG');
  background-size: cover;
  width: 150px;
  height: 140px;
}

.teach {
  background-image: url('./images/available_for2.PNG');
  background-size: cover;
  width: 150px;
  height: 140px;
}

#arrowUp {
  margin-right: 5px;
}

.arrowForward {
  margin-left: 5px;
  padding: 0px;
  margin-right: 0px;
}

#gitBlogginPreview {
  background-image: url("./images/screenshot_desktop_view.png");
  background-position: center;
  background-size: cover;
}

#grouperAppPreview {
  background-image: url("./images/screenshot1.png");
  background-position: center;
  background-size: cover;
}

#cactusSocialPreview {
  background-image: url("./images/cactus_social_screenshot1.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.projectPicture div {
  width: 100%;
  border-radius: 10px;
  height: 300px;
}

.projectPicture p {
  padding: 25px;
  color: var(--off-white);
  transition: height 1s linear;
  font-size: 20px;
}

.projectDropdown {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  font-weight: 800;
  border: 2px solid white;
  border-radius: 10px;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  background-color: var(--darker-turq);
  color: white;
  font-size: 20px;
}

.projectDropdown:hover {
  cursor: pointer;
  box-shadow: inset 2px 2px 4px white, inset 2px -2px 4px white, inset -2px -2px 4px white, inset -2px 2px 4px white;
  border: 1px solid white;
  background-color: var(--turquoise);
}

#recPreview .previewBanner {
  justify-content: center;
  align-items: center;
}

#contactPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactPreview .previewBanner {
  flex-direction: row;
}

#contactPreview .previewBanner a {
  margin: 10px;
  color: white;
}

@media screen and (max-width: 420px) {
  #home h2 {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 750px) {

  #home {
    justify-content: flex-start;
    padding: 0px 0px 50px 70px;
  }

  #home h2 {
    font-size: 4.75rem;
    margin-bottom: 5px;
  }

  #home h3 {
    margin-left: 5px;
    font-size: 1.5rem;
  }
  
  #home article {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .about-content {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-content .previewBanner {
    justify-content: flex-start;
    padding-top: 10px;
    align-items: flex-start;
  }

  .about-container p {
    padding-right: 12px;
  }

  .available-for {
    flex-direction: column;
    margin-right: 25px;
  }

  .lets-talk {
    width: 120px;
  }

  .hire {
    width: 180px;
    height: 170px;
  }
  
  .teach {
    width: 180px;
    height: 170px;
  }

  .projectPicture {
    width: 100%;
    margin: 5% 0%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .projectPicture div {
    width: 100%;
    height: 300px;
  }

  .projectPicture img {
    max-width: 100px;
  }
  
  .projectPicture p {
    width: 100%;
  }

  .info-box {
    display: flex;
    flex-direction: column;
    max-width: 467px;
    max-height: 300px;
  }

  #gitBlogginPreview {
    background-position: top;
    max-width: 367px;
    max-height: 300px;
  }
  
  #grouperAppPreview {
    background-position: top;
    max-width: 367px;
    max-height: 300px;
  }
  
  #cactusSocialPreview {
    background-position: top;
    max-width: 367px;
    max-height: 300px;
  }
}

.mainShow {
  padding: 5px;
  display: flex;
  align-items: center;
}

.testimonialBox {
  margin: 15px 4px;
  width: 90vw;
}

.testimonialQuote {
  padding: 20px 25px 0px 25px;
  font-size: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.testimonialQuote p:nth-of-type(1) {
  width: 80%;
  text-align: justify;
  line-height: 28px;
}

.testimonialSig {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 10px;
  align-self: flex-end;
  padding: 30px 30px 10px 15px;
}

.carousel {
  background-color: transparent;
  margin: 20px 0px 20px 0px;
  height: auto;
  padding: 15px 25px 15px 25px;
  align-items: center;
  justify-content: center;
}

.startQuote {
  background-image: url('./images/png\ assets-09.png');
  transform: translateY(60px) translateX(-20px);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  height: 70px;
  width: 100%;
}

.endQuote {
  background-image: url('./images/png\ assets-09.png');
  transform: rotateY(180deg) translateY(-120px) translateX(-20px);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  height: 70px;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .startQuote {
    transform: translateY(60px) translateX(-30px);
  }
  .endQuote {
    transform: rotateY(180deg) translateY(-120px) translateX(-30px);
  }
}

@media screen and (min-width: 750px) {
  .testimonialBox {
    margin: 15px 4px;
    width: 65vw;
  }
}

/** ================= ABOUT PAGE ================= */

.about {
  width: 100%;
  background: #041b33;
  background: -moz-linear-gradient(45deg,  #041b33 6%, #044762 52%, #044762 54%, #044762 63%, #041b33 100%);
  background: -webkit-linear-gradient(45deg,  #041b33 6%,#044762 52%,#044762 54%,#044762 63%,#041b33 100%);
  background: linear-gradient(45deg,  #041b33 6%,#044762 52%,#044762 54%,#044762 63%,#041b33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041b33', endColorstr='#041b33',GradientType=1 );
  color: var(--off-white);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 50px;
  align-items: center;
  height: auto;
}

.aboutMeTitle {
  width: 100%;
  height: 300px;
  background-color: var(--darker-turq);
  margin-bottom: 50px;
}

.aboutMeTitle h2 {
  z-index: 2;
  font-size: 3rem;
  position: relative;
  color: var(--turquoise);
  font-family: forma-djr-display, sans-serif;
  font-weight: 700;
  font-style: normal;
  left: 70px;
  top: 200px;
}

.about article {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bioText {
  margin: 30px 60px 0px 60px;
}

.profileBio {
  margin-bottom: 20px;
  line-height: 150%;
  font-size: 1.2rem;
}

@media screen and (max-width: 450px) {

  .aboutMeTitle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .aboutMeTitle h2 {
    z-index: 2;
    font-size: 3rem;
    position: inherit;
    color: var(--turquoise);
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 950px) {

  #bioText {
    margin: 0px 60px 0px 60px;
  }

  .about {
      height: auto;
  }

  .about article {
      flex-direction: row;
      max-width: 100%;
  }

  #profilePic {
      max-width: 400px;
      max-height: 400px;
  }

  .about article div {
      margin-top: 0;
      width: 50%;
      flex: 1 1 300px;
  }
}

@media screen and (min-width: 1100px) {

  .about {
      height: auto;
  }

  .about article {
      flex-direction: row;
      max-width: 95%;
  }

  #profilePic {
      max-width: 400px;
      max-height: 400px;
  }

  .about article div {
      margin-top: 0;
      width: 50%;
      flex: 1 1 300px;
  }
}

@media screen and (min-width: 1300px) {

  .about {
      height: auto;
  }

  .about article {
      flex-direction: row;
      max-width: 90%;
  }

  #profilePic {
      max-width: 400px;
      max-height: 400px;
  }

  .about article div {
      margin-top: 0;
      width: 50%;
      flex: 1 1 300px;
  }
}

/** ================= PROJECTS PAGE ================= */

.projects {
  width: 100%;
  background: #041b33;
  background: -moz-linear-gradient(45deg,  #041b33 6%, #044762 52%, #044762 54%, #044762 63%, #041b33 100%);
  background: -webkit-linear-gradient(45deg,  #041b33 6%,#044762 52%,#044762 54%,#044762 63%,#041b33 100%);
  background: linear-gradient(45deg,  #041b33 6%,#044762 52%,#044762 54%,#044762 63%,#041b33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041b33', endColorstr='#041b33',GradientType=1 );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 150px;
}

.projectTitleDiv {
  width: 100%;
  height: 300px;
  background-color: var(--darker-turq);
}

.projects-title {
  position: relative;
  top: 200px;
  left: 70px;
  font-size: 3rem;
  color: var(--turquoise);
  font-family: forma-djr-display, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.main-project {
  margin-top: 70px;
  width: 100%;
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--turquoise);
}

.sub-project {
  width: 100%;
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--turquoise);
}

.main-project h2, .sub-project h2 {
  font-size: 20px;
  color: white;
  padding-left: 30px;
  padding-top: 20px;
  width: 100%;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
}

.sub-project h2 {
  padding: 20px 30px 0px 30px;
}

.main-project-img-div, .sub-project-img-div {
  width: 100%;
  height: 300px;
  margin: 20px 0px;
}

.main-project-img-div div {
  background-image: url("./images/cactus_social_screenshot1.png");
}

.sub-project-img-div div, .main-project-img-div div { 
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#grouperApp {
  background-image: url("./images/screenshot1.png");
}

#gitBloggin {
  background-image: url("./images/screenshot_desktop_view.png");
}

#dynamiteRecipes {
  background-image: url("./images/68747470733a2f2f692e696d6775722e636f6d2f796d32357031432e706e67.png");
}

#colorPaletteMaker {
  background-image: url("./images/react-color-palette-img.png");
}

#dulyNoted {
  background-image: url("./images/duly_noted_screenshot_desktop_1.png");
}

#dsaBootcamp {
  background-image: url("./images/dsalgoshot1.PNG");
}

.main-project-header, .sub-project-header {
  display: none;
}

.main-project-details, .sub-project-details {
  width: 100%;
  display: flex;
}

.main-project-info, .sub-project-info {
  height: 100%;
}

.project-description {
  color: white;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 20px 0px 20px;
  text-align: left;
}

.project-description p {
  font-weight: 300;
}

.project-techstack {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin: 30px 0px;
  color: white;
}

.project-techstack li {
  line-height: 30px;
  font-size: 16px;
  padding: 0px 10px;
  font-weight: 500;
}

.project-links {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
  padding-bottom: 30px;
  justify-content: space-around;
}

.project-links a {
  color: var(--turquoise);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 0px 10px;
  text-decoration: none;
}

.project-links a span {
  padding-right: 5px;
  font-weight: 600;
}

@media screen and (max-width: 400px) {
  .projects-title {
    left: 0px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 500px) {
  .main-project, .sub-project {
    width: 96%;
    margin-top: 30px;
    min-height: calc(100vh - 330px);
  }
}

@media screen and (min-width: 700px) {
  .main-project, .sub-project {
    width: 90%;
    min-height: 30vh;
    flex-direction: row;
    align-items: center;
  }
  .sub-project:nth-last-of-type(even) {
    flex-direction: row-reverse;
  }
  .main-project h2, .sub-project h2 {
    display: none;
  }
  .main-project-img-div, .sub-project-img-div {
    width: 40%;
    height: 250px;
    margin: 10px 10px;
  }
  .main-project-img-div div {
    height: 250px;
  }
  .sub-project-img-div div { 
    height: 250px;
  }
  .main-project-header, .sub-project-header {
    display: block;
    font-size: 20px;
    color: white;
    padding: 10px 20px 0px 20px;
    width: 100%;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
  }
  .main-project-details, .sub-project-details {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main-project-info, .sub-project-info {
    height: 100%;
  }
  .project-description {
    color: white;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px 0px 20px;
    text-align: left;
  }
  .project-description p {
    font-weight: 300;
  }
  .project-techstack {
    width: 100%;
    height: 100%;
    margin: 20px 10px 10px 10px;
    padding-right: 40px;
    color: white;
  }
  .project-techstack li {
    line-height: 24px;
    font-size: 16px;
  }
  .project-links {
    padding-bottom: 20px;
    justify-content: center;
  }
  .project-links a {
    margin: 0px 15px;
  }
  .projects-title {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .main-project-img-div, .sub-project-img-div {
    width: 50%;
    max-height: 100%;
    margin: 20px 20px;
  }
  .main-project-img-div div {
    height: 100%;
  }
  .sub-project-img-div div { 
    height: 100%;
  }
}

/** ================= CONTACT PAGE ================= */

.contact {
  padding: 20px 0px 120px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #041b33;
  background: -moz-linear-gradient(45deg,  #041b33 6%, #044762 52%, #044762 54%, #044762 63%, #041b33 100%);
  background: -webkit-linear-gradient(45deg,  #041b33 6%,#044762 52%,#044762 54%,#044762 63%,#041b33 100%);
  background: linear-gradient(45deg,  #041b33 6%,#044762 52%,#044762 54%,#044762 63%,#041b33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041b33', endColorstr='#041b33',GradientType=1 );
  color: var(--off-white);
}

.contactTitleDiv {
  width: 100%;
  height: 300px;
  background-color: var(--darker-turq);
  margin-bottom: 50px;
}

.contactIntro {
  margin-left: 50px;
}

.contact-title {
  font-size: 3rem;
  color: var(--turquoise);
  position: relative;
  left: 70px;
  top: 200px;
  font-family: forma-djr-display, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.contactIntro {
  font-size: 20px;
  line-height: 28px;
}

#contactForm {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#contactForm div {
  width: 80%;
}

.pdfDownload {
  margin-top: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 20px 10px 20px 60px;
  border: none;
  background-color: var(--turquoise);
  color: var(--darker-turq);
  border-bottom: 15px solid var(--darker-turq);
  text-decoration: none;
  font-weight: 400;
}

#contactForm input {
  min-width: 250px;
  min-height: 30px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 2px;
}

#contactForm textarea {
  padding: 2px;
}

#contactForm div:nth-of-type(1) input {
  max-width: 400px;
  margin-right: 15px;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  border-bottom: 1px solid white;
  color: white;
}

#contactForm div:nth-of-type(3) input::placeholder {
  color: var(--dark);
  padding: 1px;
}

#contactForm div:nth-of-type(4) textarea::placeholder {
  color: var(--dark);
  padding: 1px;
}

#contactForm div:nth-of-type(2) input {
  max-width: 400px;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: 25px;
}

::-webkit-input-placeholder { 
  color: white;
  font-size: 16px;
  opacity: 1;
}
::-moz-placeholder { 
  color: white;
  font-size: 16px;
  opacity: 1;
}
:-ms-input-placeholder { 
  color: white;
  font-size: 16px;
  opacity: 1;
}
:-moz-placeholder { 
  color: white;
  font-size: 16px;
  opacity: 1;
}

#contactForm textarea {
  min-height: 120px;
  min-width: 250px;
  margin-bottom: 15px;
  border-radius: 4px;
}

@media screen and (min-width: 1000px) {
  #contactForm div:nth-of-type(1) input {
    max-width: 200px;
  }

  #contactForm div:nth-of-type(2) input {
    max-width: 400px;
  }
}

#contactSubmit {
  width: 100px;
  height: 40px;
  font-size: 1.1rem;
  font-weight: 800;
  background-color: var(--turquoise);
  border: none;
  color: black;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

#contactSubmit:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: 2px 2px 2px var(--turquoise), 2px -2px 2px var(--turquoise), -2px 2px 2px var(--turquoise), -2px -2px 2px var(--turquoise);
}

.contactIcons {
  font-size: 48px !important;
  border-radius: 15px !important;
  transition: box-shadow 0.3s ease-in-out !important;
}

.contactIcons:hover {
  box-shadow: 2px 2px 6px white, 2px -2px 6px white, -2px 2px 6px white, -2px -2px 6px white;
  border: none;
}

.errorText {
  margin-bottom: 50px;
  margin-left: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px red, -2px -2px 2px red, 2px -2px 2px red, -2px 2px 2px red;
}

.contact-links {
  margin-bottom: 50px;
  font-style: normal;
}

.contact-links a {
  text-decoration: none;
  margin: 0 2vw 0 2vw;
  color: var(--off-white);
}

.contact-links a:hover {
  text-decoration: underline;
}

/** ================= RESUME PAGE ================= */

.resume-div {
  height: 100%;
  width: 100%;
  padding: 20px 0px 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.resume-content {
  margin: 0px 30px 10px 30px;
  padding: 20px;
  width: 100%;
}

.resume-main-container {
  margin-top: 30px;
  border-radius: 25px;
}

.resume-education {
  border-radius: 25px;
  padding: 20px;
  background-color: var(--darker-turq);
  margin: 20px 5px 20px 5px;
  text-shadow: 2px 2px 4px var(--dark);
  text-align: left;
}

.resume-education h2 {
  color: var(--turquoise);
  margin-top: 15px;
  font-size: 36px;
  font-family: forma-djr-display, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.education-box {
  margin: 10px 0px;
  border-radius: 12px;
  padding: 10px 0px;
}

.education-box h4 {
  color: white;
  font-weight: 500;
  font-size: 22px;
  margin: 10px 0px;
}

.education-box p {
  color: var(--off-white);
  margin-top: 5px;
  font-size: 18px;
}

.education-box button {
  margin-top: 5px;
  font-size: 18px;
  border: none;
  color: var(--off-white);
  margin-right: 5px;
  background-color: transparent;
  padding: 4px 24px 4px 0px;
}

.resume-skills {
  border-radius: 25px;
  background-color: var(--darker-turq);
  text-shadow: 2px 2px 4px var(--dark);
  margin: 20px 5px 20px 5px;
  padding: 15px 15px 40px 15px;
  text-align: left;
}

.resume-skills h4 {
  color: var(--turquoise);
  font-size: 36px;
  margin: 15px;
  font-family: forma-djr-display, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.skills-button {
  margin: 2px 2px 2px 2px;
  padding: 2px 8px 2px 8px;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.resumeLinkDiv {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.resumeLinkBox a {
  color: var(--turquoise);
}

.resumeLinkBox p {
  color: var(--turquoise);
  font-weight: 800;
}

@media screen and (min-width: 700px) {

  .exp-div h5 {
    height: 32px;
    margin-top: 15px;
  }

}



/** ================= FOOTER ================= */

footer {
  height: 50px;
  width: 100%;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 3;
  bottom: 0;
}

footer a {
  text-align: center;
  color: var(--off-white);
  font-size: 1.2rem;
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
  overflow-y: hidden;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#clickedIcon {
  display: block;
}

@media screen and (max-width: 550px) {

  .navbarLinks {
    display: none;
  }

  .navbar {
    height: 80px;
    padding: 15px 0 0 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
    align-content: center;
  }
}

@media screen and (min-width: 550px) {

  #clickedIcon {
    display: none !important;
    width: 0;
  }

  .navbarLinks {
    display: flex;
  }

  .sidebarLinks {
    display:none !important;
  }

  .sidebar {
    width: 0% !important;
  }

  #contactForm input {
    width: 50vw !important;
  }

  #contactForm textarea {
    width: 50vw !important;
  }
}