/*  CSS designed with mobile-first approach */

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&family=Quicksand:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'PT Serif', serif;
font-family: 'Questrial', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Zilla Slab', serif; */

/*  Create variables for webpage color scheme */
:root {
  --dark-red: rgb(158, 0, 0);
  --darker-blue: rgb(0, 40, 87);
  --dark-blue: rgb(0, 74, 158);
  --light-blue: rgb(0, 153, 255);
  --off-white: rgba(250, 250, 250, 0.979);
  --dark: rgba(0, 0, 0, 0.925);
}

* {
  font-family: 'Quicksand', 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--dark);
}

main {
  width: 100%;
}

/** ================= NAVBAR ================= */

.navbar {
  height: 80px;
  background-color: var(--dark);
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 10;
  align-content: center;
  transition: height 0.1s ease-in;
}

.logo {
  font-size: 2rem;
  color: var(--off-white);
  margin-left: 5px;
}

.logo a {
  text-decoration: none;
  color: var(--off-white);
}

.navbarLinks {
  display: flex;
  float: right;
  align-content: center;
}

.navbarItem {
  margin-right: 25px;
}

.navbarLink {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--off-white);
  text-shadow: none;
  transition: all 0.2s ease-out;
}

.navlink a:hover {
  font-size: 1.22rem;
  text-shadow: 2px 2px 2px rgb(36, 36, 36);
}

/** ================= SIDEBAR ================= */

.materialMenu, .materialExit {
  font-size: 3rem !important;
  color: var(--off-white);
  border-radius: 20px;
  margin-right: 20px;
  background-color: transparent;
  transition: background-color, box-shadow 0.25s !important;
}

.materialExit {
  margin-left: 20px;
  margin-bottom: 40px;
}

.materialMenu:hover, .materialExit:hover{
  cursor: pointer;
  background-color: var(--dark-blue);
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 6px var(--dark-blue), -2px -2px 6px var(--dark-blue), 2px -2px 6px var(--dark-blue), -2px 2px 6px var(--dark-blue) !important;
}

@media screen and (max-width: 500px) {
  .sidebar {
    z-index: 11;
    position: absolute;
    align-items: start;
    transition: width 0.2s ease-in;
  }

  .stickyDiv {
    padding-top: 20px;
    background: linear-gradient(to left top, rgb(0, 44, 95), var(--dark));
    width: 100vw;
    height: 100vh;
    transition: width 0.2s ease-in;
  }
  
  .sidebarLinks {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .sidebarItem {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2px;
  }
  
  .sidebarLink {
    color: var(--off-white) !important;
    font-size: 36px !important;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.562);
    text-shadow: none;
    transition: font-size, background-color, text-shadow, 1s;
  }
  
  .sidebarLink:hover {
    font-size: 37px;
    background-color: var(--dark-blue);
    text-shadow: 2px 2px 2px rgb(36, 36, 36);
  }
}

/** ================= HOME PAGE ================= */

#home {
  background-image: url("./images/land1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  height: 50vh;
  display: flex;
  justify-content: center;
}

#home article {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home h2 {
  color: var(--off-white);
  font-size: 3.5rem;
  margin-bottom: 5px;
  text-shadow: 2px 2px 3px black;
  font-weight: bold;
}

#home h3 {
  color: var(--off-white);
  font-size: 2rem;
  text-shadow: 2px 2px 3px black;
  font-weight: bold;
}

#preview {
  padding: 20px;
  padding-bottom: 80px;
}

#aboutPreview {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(114, 114, 114);
}

#aboutPreview p {
  font-size: 18px;
  margin-bottom: 15px;
}

#projectsPreview {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(114, 114, 114);
}

#recPreview {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(114, 114, 114);
}

.previewBox {
  justify-content: center;
  display: flex;
}

.previewBox h2 {
  color: var(--off-white);
  padding-bottom: 20px;
  padding-top: 10px;
}

.previewBanner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.previewBanner p {
  color: var(--off-white);
}

.projectPicture {
  margin-bottom: 30px;
  transform: height 1s 0.5s linear;
  width: 90%;
  margin: 5%;
}

#gitBloggin {
  background-image: url("./images/screenshot_desktop_view.png");
  background-position: center;
  background-size: cover;
}

#grouperApp {
  background-image: url("./images/screenshot1.png");
  background-position: center;
  background-size: cover;
}

#cactusSocial {
  background-image: url("./images/cactus_social_screenshot1.png");
  background-position: center;
  background-size: cover;
}

.projectPicture div {
  border: 1px solid violet;
  width: 100%;
  border-radius: 10px;
  transition: height 1s linear;
}

.projectPicture p {
  padding-top: 15px;
  color: var(--off-white);
  transition: height 1s linear;
}

.projectDropdown {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  border: 2px solid rgb(114, 114, 114);
  border-radius: 10px;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.projectDropdown button {
  width: 50px;
  color: var(--off-white);
  background-color: transparent;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid rgb(114, 114, 114);
}

#recPreview .previewBanner {
  justify-content: center;
  align-items: center;
}

#rec1, #rec2 {
  width: 80%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid rgb(114, 114, 114);
  margin-bottom: 10px;
}

.recPreviewMessage {
  font-size: 18px;
  margin-bottom: 10px;
}

.recSig {
  font-size: 18px;
  font-style: italic;
}

.projectDropdown button:focus {
  color: blue;
}

#contactPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactPreview .previewBanner {
  flex-direction: row;
}

#contactPreview .previewBanner a {
  margin: 10px;
  color: white;
}

@media screen and (max-width: 420px) {
  #home h2 {
    margin-bottom: 10px;
  }
}

/** ================= ABOUT PAGE ================= */

.about {
  width: 100%;
  background: linear-gradient(to left top, var(--dark-blue) 10%, var(--dark));
  color: var(--off-white);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 50px;
  align-items: center;
  height: auto;
}

.about article {
  padding: 20px 15px 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profilePic {
  background-image: url("./images/20181209_223633.jpg");
  height: 500px;
  /* margin-right: 20px; */
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.profileBio {
  margin-top: 20px;
  line-height: 150%;
  font-size: 1.2rem;
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 100px;
}

@media screen and (min-width: 700px) {

  .about {
      height: auto;
  }

  .about article {
      flex-direction: row;
      justify-content: space-around;
      padding: 20px 30px 50px 30px;
  }

  #profilePic {
      flex: 1 1 100px;
      max-width: 400px;
      max-height: 400px;
      margin-right: 35px;
  }

  .about article p {
      margin-top: 0;
      width: 50%;
      flex: 1 1 300px;
  }
}

@media screen and (min-width: 965px) {
  .about article p {
      font-size: 1.25rem;
  }
}

@media screen and (min-width: 1185px) {
  .about article p {
      font-size: 1.3rem;
  }
}

/** ================= PROJECTS PAGE ================= */

.projects {
  padding: 20px 15px 100px 15px;
  background: linear-gradient(to left top, var(--dark-blue) 10%, var(--dark));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  font-size: 3rem;
  margin-bottom: 50px;
  margin-top: 100px;
  color: var(--off-white);
}

.projects figure {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 27px;
}

.main-project {
  height: 500px;
  border: solid 2px var(--off-white);
  width: 100%;
  background-image: url("./images/project_2_giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  filter: grayscale(60%);
  transition: filter 0.5s linear;
}

.sub-project {
  height: 200px;
  border: solid 2px var(--off-white);
  width: 100%;
  margin-top: 10px;
  filter: grayscale(50%);
  transition: filter 0.5s linear;
}

.projects figure:nth-of-type(2) {
  background-image: url("./images/react-color-palette-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.projects figure:nth-of-type(3) {
  background-image: url("./images/68747470733a2f2f692e696d6775722e636f6d2f796d32357031432e706e67.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.projects figure:nth-of-type(4) {
  background-image: url("./images/screenshot_desktop_view.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.projects figure:nth-of-type(5) {
  background-image: url("./images/duly_noted_screenshot_desktop_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.main-project:hover, .sub-project:hover {
  filter: grayscale(0%);
}

.main-project-header {
  position: absolute;
  bottom: 110px;
  /* left: 25px; */
  font-size: 2rem;
  font-weight: bolder;
  color: var(--off-white);
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.602), -1px -1px 8px rgba(0, 0, 0, 0.602), 1px -1px 8px rgba(0, 0, 0, 0.602), -1px 1px 8px rgba(0, 0, 0, 0.602);
}

.sub-project .project-header {
  position: absolute;
  top: 25px;
  left: 25px;
  text-align: left;
  font-size: 1.65rem;
  font-weight: bolder;
  color: var(--off-white);
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.602), -1px -1px 6px rgba(0, 0, 0, 0.602), 1px -1px 6px rgba(0, 0, 0, 0.602), -1px 1px 6px rgba(0, 0, 0, 0.602);
}

.projects figure div {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.project-techstack {
  margin-right: 10px;
  display: flex;
  margin-top: 11px;
  font-weight: bold;
  font-size: 17px;
  flex-wrap: wrap;
}

.project-techstack li {
  margin-right: 15px;
  color: white;
  text-shadow: 1px 1px 6px black, -1px -1px 6px black, 1px -1px 6px black, -1px 1px 6px black;
  margin-bottom: 5px;
}

.project-links {
  display: flex;
  flex-direction: row !important;
}

.project-links a {
  text-decoration: none;
  color: var(--dark);
  margin-right: 15px;
  display: inline;
}

.project-links div {
  text-decoration: none;
  color: var(--dark);
  margin-right: 15px;
  display: inline;
}

.material {
  font-size: 2.5rem !important;
  color: var(--dark);
  box-shadow: 1px 1px 5px black, -1px -1px 5px black, 1px -1px 5px black, -1px 1px 5px black;
  background-color: rgba(255, 255, 255, 0.787);
  border-radius: 50%;
  transition: background-color, box-shadow, color 0.5s ease-in !important;
}

.material:hover {
  color: var(--dark-blue);
  cursor: pointer;
  box-shadow: 2px 2px 7px var(--dark-blue), -2px -2px 7px var(--dark-blue), 2px -2px 7px var(--dark-blue), -2px 2px 7px var(--dark-blue) !important;
  background-color: rgb(255, 255, 255);
}

.modalDiv {
  text-align: center;
  border-radius: 20px;
}

.modalTitle {
  margin-bottom: 5px;
  font-size: 22px;
}

.modalText {
  font-size: 18px;
}

@media screen and (min-width: 700px) {

  .projects {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      padding: 0px 15% 100px 15%;
  }

  .projects-title {
    width: 100%;
  }

  .main-project {
    width: 100% ;
    margin: 0 5px 10px 5px;
  }
  
  .sub-project {
      width: calc(50% - 10px);
      margin: 10px 0 0 0;
  }

  .sub-project {
    margin-right: 5px;
    margin-left: 5px;
  }

  .sub-project .project-header {
      left: 25px;
  }

  .projects figure div {
      left: 25px;
      bottom: 10px;
  }

  /* .project-links {
    display: flex;
    flex-direction: row !important;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 50px;
  } */
}

/** ================= CONTACT PAGE ================= */

.contact {
  padding: 20px 15px 20px 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left top, var(--dark-blue) 10%, var(--dark));
  color: var(--off-white);
}

.contact-title {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 3rem;
}

#contactForm {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contactForm div {
  display: flex;
  width: 80%;
  justify-content: center;
}

#contactForm label {
  margin-right: 10px;
  align-self: center;
  margin-bottom: 10px;
}

#contactForm div label {
  width: 80px;
}

#contactForm input {
  min-width: 250px;
  min-height: 30px;
  margin-bottom: 10px;
  border-radius: 4px;
}

#contactForm textarea {
  min-height: 60px;
  /* margin-right: 20px; */
  min-width: 250px;
  min-height: 30px;
  margin-bottom: 10px;
  border-radius: 4px;
}

@media screen and (max-width: 650px) {
  #contactForm label {
    display: none;
  }
}

#contactSubmit {
  width: 90px;
  height: 30px;
  font-size: 1.1rem;
  font-weight: 800;
  background-color: rgba(0, 167, 0, 0.76);
  /* background-color: rgb(5,213,103); */
  border: none;
  color: white;
  border-radius: 20px;
  transition: background-color, box-shadow 0.2s ease-in-out;
}

#contactSubmit:hover {
  cursor: pointer;
  background-color: rgba(2, 204, 2, 0.76);
  box-shadow: 1px 1px 2px rgba(0, 246, 0, 0.904), 1px -1px 2px rgba(0, 246, 0, 0.904), -1px 1px 2px rgba(0, 246, 0, 0.904), -1px -1px 2px rgba(0, 246, 0, 0.904);
}

.contactIcons {
  font-size: 48px !important;
  border-radius: 15px !important;
  transition: box-shadow 0.3s ease-in-out !important;
}

.contactIcons:hover {
  box-shadow: 2px 2px 6px white, 2px -2px 6px white, -2px 2px 6px white, -2px -2px 6px white;
  border: none;
}

.errorText {
  margin-bottom: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px red, -2px -2px 2px red, 2px -2px 2px red, -2px 2px 2px red;
}

.contact-links {
  margin-bottom: 50px;
  font-style: normal;
}

.contact-links a {
  text-decoration: none;
  margin: 0 2vw 0 2vw;
  color: var(--off-white);
}

.contact-links a:hover {
  text-decoration: underline;
}


/** ================= RESUME PAGE ================= */

.resume-div {
  height: 100%;
  background: linear-gradient(to left top, var(--dark-blue) 10%, var(--dark));
  width: 100%;
  padding: 20px 0px 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--darker-blue);
}

.resume-title {
  color: white;
  font-size: 50px;
  margin-top: 100px;
}

.resume-content {
  margin: 50px 30px 100px 30px;
  padding: 20px;
  border-radius: 25px;
  background-color: var(--dark);
  border: 2px solid var(--dark-blue);
  box-shadow: 4px 4px 12px var(--dark-blue), -4px 4px 12px var(--dark-blue), 4px -4px 12px var(--dark-blue), -4px -4px 12px var(--dark-blue);
  width: 100%;
}

.name-header {
  color: var(--off-white);
  font-size: 24px;
}

.title-header {
  color: var(--off-white);
  margin-top: 10px;
  font-size: 18px;
}

.resume-summary {
  color: var(--off-white);
  margin: 10px;
  text-align: left;
}

.resume-summary p {
  font-size: 16px;
  line-height: 20px;
}

.resume-main-container {
  background-color: var(--dark);
  margin-top: 30px;
  border-radius: 25px;
}

.resume-education {
  border: 2px solid var(--dark-blue);
  border-radius: 25px;
  background-color: var(--dark-blue);
  margin: 20px 5px 20px 5px;
  text-shadow: 2px 2px 4px var(--dark);
}

.resume-education h2 {
  color: var(--off-white);
  margin-top: 15px;
  font-size: 24px;
}

.education-box {
  border: 2px solid var(--dark-blue);
  margin: 20px 5px 20px 5px;
  border-radius: 12px;
  padding: 10px;
}

.education-box h4 {
  color: white;
  margin-top: 5px;
}

.education-box p {
  color: var(--off-white);
  margin-top: 5px;
}

.education-box button {
  margin-top: 5px;
  border: 2px solid var(--off-white);
  box-shadow: 2px 2px 6px var(--light-blue);
  color: var(--off-white);
  margin-right: 5px;
  background-color: rgba(3, 3, 3, 0.712);
  padding: 4px 6px 4px 6px;
}

.resume-skills {
  border: 2px solid var(--dark-blue);
  border-radius: 25px;
  background-color: var(--dark-blue);
  text-shadow: 2px 2px 4px var(--dark);
  margin: 20px 5px 20px 5px;
  padding: 0 15px 15px 15px;
}

.resume-skills h2 {
  color: var(--off-white);
  margin-top: 15px;
  font-size: 24px;
}

.resume-skills h4 {
  color: var(--off-white);
  font-size: 18px;
  margin: 15px;
}

.skills-tech, .skills-dev, .skills-soft {
  border: 3px solid var(--dark);
  box-shadow: 3px 3px 6px var(--dark);
  border-radius: 25px;
  background-color: var(--darker-blue);
  margin: 10px;
  padding-bottom: 15px;
}

.skills-button {
  margin: 2px 2px 2px 2px;
  padding: 2px 8px 2px 8px;
  border-radius: 15px;
  border: 2px solid var(--light-blue);
  background-color: var(--dark);
  color: var(--off-white);
  text-shadow: 1px 1px 3px var(--light-blue);
  font-weight: 800;
  font-size: 15px;
}

.resume-experience {
  border: 2px solid var(--dark-blue);
  border-radius: 25px;
  background-color: var(--dark-blue);
  text-shadow: 2px 2px 4px var(--dark);
  margin: 20px 5px 20px 5px;
  padding: 0 20px 15px 20px;
}

.resume-experience h2 {
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 24px;
}

.exp-div {
  border: 3px solid var(--dark);
  box-shadow: 3px 3px 6px var(--dark);
  border-radius: 25px;
  background-color: var(--darker-blue);
  margin: 5px;
  display: flex;
  flex-direction: column;

}

.exp-div h5 {
  color: var(--off-white);
  margin-top: 10px;
  margin-bottom: 10px;
}

.exp-div span {
  color: var(--off-white);
  margin: 2px;

}

.exp-div p {
  color: var(--off-white);
  margin: 15px 25px 15px 25px;
}

.resumeLinkDiv {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.resumeLinkBox a {
  color: white;
}

.resumeLinkBox p {
  color: white;
  font-weight: 800;
}

/** ================= CAROUSEL ================= */

.carousel {
  border: 5px solid var(--dark);
  box-shadow: 3px 3px 6px var(--dark);
  border-radius: 25px;
  background-color: var(--dark-blue);
  margin: 20px 0px 20px 0px;
  height: auto;
  padding: 0 15px 15px 15px;
  align-items: center;
}

.slides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 10px 20px 10px;
  height: auto;
  border: 3px solid var(--dark);
  box-shadow: 3px 3px 6px var(--dark);
  border-radius: 25px;
  background-color: var(--darker-blue);
}

.prevArrow {
  font-size: 40px !important;
  color: white;
  cursor: pointer;
}

.nextArrow {
  font-size: 40px !important;
  color: white;
  cursor: pointer;
}

#slide1, #slide2 {
  height: auto;
  display: flex;
  flex-direction: column;
}

#slide1 {
  width: 100%;
  transition: width 0.3s ease-in;
}

#slide2 {
  width: 0%;
  transition: width 0.3s ease-in;
}

.recDiv {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  margin: 5px 0 5px 0;
  background-color: var(--dark);
  border: 3px solid var(--light-blue);
  box-shadow: 1px 1px 8px var(--light-blue), 2px 2px 12px var(--off-white);
}

.recProfile {
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recProfile h3 {
  font-size: 24px;
  color: white;
}

.recProfile h4 {
  margin-top: 15px;
  font-size: 20px;
  color: white;
  height: 60px;
}

.recDetails {
  width: 100%;
  height: auto;
  padding: 10px;
}

.recMessage {
  font-size: 16px;
  color: white;
  text-align: left;
  margin: 0px 5px 15px 5px;
  border-top: 2px solid var(--light-blue);
  padding-top: 20px;
}

.recImage {
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 15px;
  /* border: 2px solid var(--light-blue); */
  box-shadow: 3px 3px 9px var(--light-blue), 3px -3px 9px var(--light-blue), -3px 3px 9px var(--light-blue), -3px -3px 9px var(--light-blue);
}

#coleImage {
  background-image: url("./images/coleImage.png");
}

#ethanImage {
  background-image: url("./images/ethanImage.png");
}

#christopherImage {
  background-image: url("./images/christopherImage.png");
}

#chuckImage {
  background-image: url("./images/chuckImage.png");
}

#christianImage {
  background-image: url("./images/christianImage.png");
}

.slideButtons {
  margin-top: 10px;
}

.slideButtons button {
  margin: 2px;
  font-size: 20px;
  font-weight: 800;
  padding: 3px;
  width: 25px;
  border-radius: 10px;
  background-color: var(--dark);
  border: 2px solid var(--off-white);
  color: white;
}

.slideButtons button:hover {
  cursor: pointer;
}

@media screen and (min-width: 550px) {
  
  .resume-content {
    width: 90%;
  }

  .recDiv {
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .recDetails {
    width: 90%;
  }
}

@media screen and (min-width: 700px) {
  
  .job-div {
    display: flex;
  }

  .exp-div h5 {
    height: 32px;
    margin-top: 15px;
  }

}

@media screen and (min-width: 1100px) {

  .resume-content {
    width: 80%;
  }

  #slide1, #slide2 {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .recDiv {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px;
  }

  .recProfile {
    width: 100%;
  }

  .recDetails {
    width: 100%;
  }

  .edu-box {
    display: flex;
    flex-direction: column;
  }

  .main-edu {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .secondary-edu {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

/** ================= FOOTER ================= */

footer {
  height: 50px;
  width: 100vw;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 3;
  bottom: 0;
}

footer a {
  text-align: center;
  color: var(--off-white);
  font-size: 1.2rem;
  text-decoration: none;
}

/** ================= MORE MEDIA ================= */

@media screen and (max-width: 500px) {
  #clickedIcon {
    display: block;
  }

  body::-webkit-scrollbar {
    display: none;
    overflow-y: hidden;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .navbarLinks {
    display: none;
  }

  .navbar {
    height: 80px;
    background-color: var(--dark);
    padding: 15px 0 0 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
    align-content: center;
  }
}

@media screen and (min-width: 500px) {
  #clickedIcon {
    display: none !important;
  }

  .navbarLinks {
    display: flex;
  }

  .sidebarLinks {
    display:none !important;
  }

  .sidebar {
    width: 0% !important;
  }

  #contactForm input {
    width: 50vw !important;
  }

  #contactForm textarea {
    width: 50vw !important;
  }
}